extends base
block headextra
	link(rel='stylesheet', href='stylesheets/annotation.css')
	script(src='javascripts/annotation.js')
block bodyextra
	#anno-field
		ul#doc-list
			li.doc-item
				.doc-body RT @noellebelangerr: Long live flannel
				.doc-anno.noselect
					span.doc-anno-btn(value='care') care
					span.doc-anno-btn(value='harm') harm
					span.doc-anno-btn(value='fairness') fairness
					span.doc-anno-btn(value='cheating') cheating
					span.doc-anno-btn(value='loyalty') loyalty
					span.doc-anno-btn(value='betrayal') betrayal
					span.doc-anno-btn(value='authority') authority
					span.doc-anno-btn(value='subversion') subversion
					span.doc-anno-btn(value='purity') purity
					span.doc-anno-btn(value='degradation') degradation
			li.doc-item
				.doc-body Realizing that you have a girl that you've been searching for is one of the best feelings.
			li.doc-item
				.doc-body @TroyTrojan44 shiddd hmu next weekend for sure then bro!
