extends base
block headextra
	link(rel='stylesheet', href='stylesheets/annotation.css')
	script(src='javascripts/annotation.js')
block bodyextra
	#anno-field
		ul#doc-list
		#anno-operation
			#anno-info
				.anno-info-item
					span.anno-info-item-key Annotator:
					span.anno-info-item-value Ying Lin
				.anno-info-item
					span.anno-info-item-key Source:
					span.anno-info-item-value 2015_04_12_04_00.json
			button#next(type='button') Next Batch
			button#return(type='button') return
