doctype html
html
	head
		meta(charset='utf-8')
		meta(name='author', content='Ying Lin')
		meta(name='description', content='A web-based moral foundation annotation tool for labeling Baltimore tweets')
		
		title Moral Foundation Annotation Tool
		link(rel='stylesheet', href='/stylesheets/normalize.css')
		link(rel='stylesheet', href='/stylesheets/base.css')
		script(src='javascripts/jquery-3.1.1.min.js')
		block headextra
	body
		#banner
			#banner-title MFA
		block bodyextra
