extends base
block headextra
	link(rel='stylesheet', href='stylesheets/index.css')
	script(src='javascripts/login.js')
block bodyextra
	#main
		#login-panel
			#login-title Login
			.login-items
				label.login-label Annotator
				input#login-annotator(type='text' placeholder='Annotator name')
				label.login-label Dataset
				select#login-dataset
					- each dataset in datasets
						option(value='#{dataset.value}')= dataset.name
					//- option(value='random') Random
					//- option(value='complete') Complete
				button#login-enter(disabled='disabled' type='button') Enter

