/* ======================================= */
/* Stylesheet file for the annotation page */
/* ======================================= */
#mask-layer {
	z-index: 10;
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(100,100,100,.2);
}

/* Annotation Field */
div#anno-field {
	min-width: 800px;
	padding-top: 60px;
}

ul#doc-list {
	list-style: none;
	padding: 0 50px;
	padding-bottom: 100px;
}

li.doc-item {
	border: 1px solid #eee;
	border-radius: 3px;
	padding: 10px 15px;
	margin-bottom: 10px;

	background-color: #fafafa;
	opacity: .9;
	transition: opacity .1s ease-in-out;
}

li.doc-item:hover {
	opacity: 1;
	border-color: #34a7fe;
}

div.doc-meta {
	font-size: 11px;
	color: #bbb;
}

/*li.doc-item:hover > div.doc-meta {
	color: #a9a9a9;
}*/

div.doc-body {
	margin: 12px 0;
	padding: 1px 5px;
	font-size: 14px;
	line-height: 20px;

	color: #292f33;
}

span.doc-body-selected {
	border-radius: 3px;
	border-bottom: 1px solid #0080ff;
	border-top: 1px solid #0080ff;
    color: #312100;
    background-color: #deeff7;
    box-shadow: 0 0 3px rgba(0,128,255,.2);
}

span.doc-body-user,
span.doc-body-hashtag,
span.doc-body-url {
	color: #0084B4;
}

div.doc-anno {
	margin-top: 5px;
}

span.doc-anno-btn {
	display: inline-block;
	position: relative;

	/*float: left;*/
	border: 1px solid #d5d5d5;
	/*border-right-width: 0;*/
	border-radius: 0;
	margin-left: -1px;
	padding: 3px 10px;
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;

	color: #333;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;

	background-color: #eee;
	background-image: -webkit-linear-gradient(#fcfcfc, #eee);
	background-image: linear-gradient(#fcfcfc, #eee);
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

span.doc-anno-btn:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

span.doc-anno-btn:last-child {
	border-right-width: 1px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

span.doc-anno-btn:hover, span.doc-anno-btn:active {
	z-index: 2;
}

span.doc-anno-btn:hover {
	background-color: #ddd;
	background-image: -webkit-linear-gradient(#eee, #ddd);
	background-image: linear-gradient(#eee, #ddd);
	border-color: #ccc;
}

span.doc-anno-btn:active {
	background-color: #dcdcdc;
	background-image: none;
	border-color: #b5b5b5;
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
}

span.doc-anno-btn:focus {
	border-color: #51a7e8;
	box-shadow: 0 0 5px rgba(81,167,232,0.5);
}

span.doc-anno-btn[labeled='true'] {
	z-index: 3;
	color: #2480e2;
	border-color: #51a7e8;
	box-shadow: 0 0 5px rgba(81,167,232,0.1) inset;
}

hr {
	border: 0;
    border-bottom: 1px dashed #eee;
    margin-top: 15px;
    background: #ddd;
}

.doc-anno-issue-wrapper, .doc-anno-extra-wrapper {
	margin-top: 5px;
}

.doc-anno-issue-label,
.doc-anno-comment-label {
	font-size: 13px;
	margin: 0 10px;
}

input.doc-anno-issue, input.doc-anno-comment {
	border: 1px solid #ddd;
	border-radius: 3px;
	outline: none;
	padding: 5px;
	font-size: 13px;
}

input.doc-anno-comment {
	width: 400px;
}

button.doc-anno-skip-button,
button.doc-anno-unclear-button {
	display: inline-block;
	border: 1px solid #ddd;
	border-radius: 4px;
	margin-right: 5px;
	outline: none;

	height: 25px;
	width: 70px;

	font-size: 12px;
	font-weight: 800;

	background-color: #eee;
	background-image: -webkit-linear-gradient(#fcfcfc, #eee);
	background-image: linear-gradient(#fcfcfc, #eee);
	cursor: pointer;
}

button.doc-anno-skip-button:hover,
button.doc-anno-unclear-button:hover {
	background-color: #ddd;
	background-image: -webkit-linear-gradient(#eee, #ddd);
	background-image: linear-gradient(#eee, #ddd);
	border-color: #ccc;
}

button.doc-anno-skip-button[marked='true'],
button.doc-anno-unclear-button[marked='true'] {
	z-index: 3;
	color: #2480e2;
	border-color: #51a7e8;
	box-shadow: 0 0 5px rgba(81,167,232,0.1) inset;
}

input.doc-anno-issue:hover,
input.doc-anno-issue:focus,
input.doc-anno-comment:hover,
input.doc-anno-comment:focus {
	border-color: #51a7e8;
}

p#anno-end {
	font-size: 13px;
	font-style: italic;
	text-align: center;
	color: #bbb;
}

div#anno-operation {
	z-index: 99;
	position: fixed;
	bottom: 0;
	left: 0;
	border-top: 1px solid #ddd;
	height: 80px;
	width: 100%;
	min-width: 800px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

div#anno-info {
	position: absolute;
	left: 0;
	padding: 20px;
}

div.anno-info-item {
	font-size: 14px;
	/*font-weight: 300;*/
	color: #888;
}

span.anno-info-item-key {
	color: #0080ff;
	margin-right: 10px;
}

button#next, button#return {
	display: block;
	border: 0;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	outline: none;

	height: 50px;
	width: 120px;

	font-size: 18px;
	font-weight: 300;

	cursor: pointer;
}

button#next {
	position: relative;

	color: #fff;
	background-color: #0080ff;
}

button#return {
	position: absolute;
	right: 10px;
	top: 0;
	width: 80px;
	color: #888;
	background-color: #eee;
}

button#return:hover {
	color: #666;
	background-color: #e5e5e5;
}

button#next:hover {
	background-color: #0087ff;
}

/* Annotation Done */
#msg-wrapper {
	padding: 50px 120px;
}

#msg {
	position: relative;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	background-color: #f5f5f5;
}

#msg-text {
	text-align: center;
	font-size: 14px;
	margin-bottom: 20px;
}

a#direct-return {
	display: block;
	position: relative;
	border: 1px solid #d5d5d5;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	outline: none;
	padding: 5px 15px;
	width: 80px;

	font-size: 12px;
	font-weight: 600;
	text-align: center;

	color: inherit;
	background-color: #eee;
	background-image: -webkit-linear-gradient(#fcfcfc, #eee);
	background-image: linear-gradient(#fcfcfc, #eee);

	cursor: pointer;
}

a#direct-return:hover {
	background-color: #ddd;
	background-image: -webkit-linear-gradient(#eee, #ddd);
	background-image: linear-gradient(#eee, #ddd);
	border-color: #ccc;
}

a#direct-return:active {
	background-color: #dcdcdc;
	background-image: none;
	border-color: #b5b5b5;
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
}

/* Override jQuery UI CSS */

.ui-menu-item {
	font-size: 13px;
}

.ui-menu {
	box-shadow: 2px 2px 5px rgba(0,0,0,.1);
}