/* ======================================= */
/* Stylesheet file for the annotation page */
/* ======================================= */

/* Annotation Field */
div#anno-field {
	min-width: 800px;
	padding-top: 60px;
}

ul#doc-list {
	list-style: none;
	padding: 0 50px;
	padding-bottom: 100px;
}

li.doc-item {
	border: 1px solid #eee;
	border-radius: 3px;
	padding: 10px 15px;
	margin-bottom: 10px;

	background-color: #fafafa;
	opacity: .7;
	transition: opacity .1s ease-in-out;
}

li.doc-item:hover {
	opacity: 1;
	border-color: #34a7fe;
}

div.doc-meta {
	font-size: 11px;
	color: #bbb;
}

/*li.doc-item:hover > div.doc-meta {
	color: #a9a9a9;
}*/

div.doc-body {
	margin: 12px 0;
	font-size: 14px;
	line-height: 18px;

	color: #292f33;
}

div.doc-anno {
	margin-top: 5px;
}

span.doc-anno-btn {
	display: inline-block;
	position: relative;

	/*float: left;*/
	border: 1px solid #d5d5d5;
	/*border-right-width: 0;*/
	border-radius: 0;
	margin-left: -1px;
	padding: 3px 10px;
	font-size: 12px;
	font-weight: 600;
	line-height: 20px;

	color: #333;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;

	background-color: #eee;
	background-image: -webkit-linear-gradient(#fcfcfc, #eee);
	background-image: linear-gradient(#fcfcfc, #eee);
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

span.doc-anno-btn:first-child {
	border-top-left-radius: 3px;
	border-bottom-left-radius: 3px;
}

span.doc-anno-btn:last-child {
	border-right-width: 1px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
}

span.doc-anno-btn:hover, span.doc-anno-btn:active {
	z-index: 2;
}

span.doc-anno-btn:hover {
	background-color: #ddd;
	background-image: -webkit-linear-gradient(#eee, #ddd);
	background-image: linear-gradient(#eee, #ddd);
	border-color: #ccc;
}

span.doc-anno-btn:active {
	background-color: #dcdcdc;
	background-image: none;
	border-color: #b5b5b5;
	box-shadow: inset 0 2px 4px rgba(0,0,0,0.15);
}

span.doc-anno-btn:focus {
	border-color: #51a7e8;
	box-shadow: 0 0 5px rgba(81,167,232,0.5);
}

span.doc-anno-btn[labeled='true'] {
	z-index: 3;
	color: #2480e2;
	border-color: #51a7e8;
	box-shadow: 0 0 5px rgba(81,167,232,0.1) inset;
}

p#anno-end {
	font-size: 13px;
	font-style: italic;
	text-align: center;
	color: #bbb;
}

div#anno-operation {
	z-index: 99;
	position: fixed;
	bottom: 0;
	left: 0;
	border-top: 1px solid #ddd;
	height: 80px;
	width: 100%;
	min-width: 800px;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
}

div#anno-info {
	position: absolute;
	left: 0;
	padding: 20px;
}

div.anno-info-item {
	font-size: 14px;
	/*font-weight: 300;*/
	color: #888;
}

span.anno-info-item-key {
	color: #0080ff;
	margin-right: 10px;
}

button#next, button#return {
	display: block;
	border: 0;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	outline: none;

	height: 50px;
	width: 120px;

	font-size: 18px;
	font-weight: 300;

	cursor: pointer;
}

button#next {
	position: relative;

	color: #fff;
	background-color: #0080ff;
}

button#return {
	position: absolute;
	right: 10px;
	top: 0;
	width: 80px;
	color: #888;
	background-color: #eee;
}

button#return:hover {
	color: #666;
	background-color: #e5e5e5;
}

button#next:hover {
	background-color: #0087ff;
}