/* ================================== */
/* Stylesheet file for the index page */
/* ================================== */
div#main {
	padding-top: 200px;
}

#login-title {
	margin-bottom: 10px;
	text-align: center;
	font-size: 20px;
	font-weight: 300;
}

div#login-panel {
	position: relative;
	border: 1px solid #ddd;
	border-radius: 3px;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	width: 280px;
	line-height: 2;
}

label.login-label {
	display: inline-block;
	width: 100px;
	font-size: 13px;
}

input#login-annotator {
	width: 120px;
	border: 1px solid #ddd;
	border-radius: 3px;
	outline: none;
	padding: 5px;
	font-size: 13px;
}

input#login-annotator:hover, input#login-annotator:focus {
	border-color: #51a7e8;
}

select#login-dataset {
	font-size: 13px;
}

button#login-enter {
	display: block;
	position: relative;

	border: 0;
	border-radius: 4px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15px;
	outline: none;

	height: 30px;
	width: 80px;

	font-size: 13px;
	font-weight: 300;

	cursor: pointer;

	color: #fff;
	background-color: #0080ff;
}

button#login-enter:hover {
	background-color: #0087ff;
}


button#login-enter:disabled, button#login-enter:disabled:hover {
	background-color: #ccc;
}

